.seventh-background {
    background-image: url('../img/backgrond/section-7.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.seventh-container {
    max-width: 1160px;
    margin: 0 auto;
}
.seventh-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    padding-top: 100px;
}
.seventh-lines {
    position: relative;
}
.seventh-line-1 {
    border-top: 1px solid #18cfab;
    width: 76px;
}
.seventh-line-2 {
    position: absolute;
    top: 4px;
    left: 13px;
    border-top: 1px solid #18cfab;
    width: 78px;
}
.seventh-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 37px;
}
.seventh-icon-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    width: 1160px;
    margin-bottom: 25px;
}
.seventh-icon-img {
    width: 44px;
    height: 30px;
}
.seventh-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
    text-align: center;
}
.img-blocks {
    padding-bottom: 100px;
}
.img-wrapp {
    margin-bottom: 51px;
}
.img-container {
    text-align: center;
}
.img-slide-mini.swiper-slide-thumb-active {
    position: relative;
    top: -20px;
}
.img-slide-mini:hover {
    position: relative;
    top: -20px;
    cursor: pointer;
}
.main-img {
    width: 171px;
    height: 166px;
    margin-top: 37px;
}
.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18cfab;
}
.work {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #bbbbbb;
}
.img-container-mini {
    margin: 0 auto;
    width: 483px;
    height: 70px;
}
.img {
    width: 79px;
    height: 71px;
}
.img-container .swiper-button-prev::after,
.img-container .swiper-button-next::after {
    border: 1px solid #bbbbbb;
    padding: 8px 10px;
    font-size: 15px;
    color: #bbbbbb;
}
.navigator-left:hover::after,
.navigator-right:hover::after {
    background: #18cfab;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s;
}
.navigator-left {
    top: 345px;
    left: 300px;
}
.navigator-right {
    top: 345px;
    right: 300px;
}
